.o_home_menu_background, .o_web_client.o_home_menu_background {
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--homeMenu-bg-color, #F8F9FA);
  background-image: none;
}