<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="content-type">
        <title>{{ website_name }}</title>
        <link href="/web/static/src/img/favicon.ico" rel="shortcut icon"
              type="image/x-icon">

        <link href="/web/static/lib/fontawesome/css/font-awesome.css" rel="stylesheet">
        <link href="/web/static/lib/bootstrap/css/bootstrap.css" rel="stylesheet">

        <script src="/web/static/lib/jquery/jquery.js" type="text/javascript"></script>

        <script src="/web/static/lib/popper/popper.js" type="text/javascript"></script>

        <script src="/web/static/lib/bootstrap/js/index.js"
                type="text/javascript"></script>
        <script src="/web/static/lib/bootstrap/js/util.js"
                type="text/javascript"></script>
        <script src="/web/static/lib/bootstrap/js/alert.js"
                type="text/javascript"></script>
        <script src="/web/static/lib/bootstrap/js/button.js"
                type="text/javascript"></script>
        <script src="/web/static/lib/bootstrap/js/carousel.js"
                type="text/javascript"></script>
        <script src="/web/static/lib/bootstrap/js/collapse.js"
                type="text/javascript"></script>
        <script src="/web/static/lib/bootstrap/js/dropdown.js"
                type="text/javascript"></script>
        <script src="/web/static/lib/bootstrap/js/modal.js"
                type="text/javascript"></script>
        <script src="/web/static/lib/bootstrap/js/tooltip.js"
                type="text/javascript"></script>
        <script src="/web/static/lib/bootstrap/js/popover.js"
                type="text/javascript"></script>
        <script src="/web/static/lib/bootstrap/js/scrollspy.js"
                type="text/javascript"></script>
        <script src="/web/static/lib/bootstrap/js/tab.js"
                type="text/javascript"></script>

        <script type="text/javascript">
            $(function() {
                // Little eye
                $('body').on('mousedown mouseup', '.o_little_eye', function (ev) {
                    $(ev.target).closest('.input-group').find('.form-control').prop('type', ev.type === 'mousedown' ? 'text' : 'password');
                });
                // db modal
                $('body').on('click', '.o_database_action', function (ev) {
                    ev.preventDefault();
                    var db = $(ev.currentTarget).data('db');
                    var target = $(ev.currentTarget).data('target');
                    $(target).find('input[name=name]').val(db);
                    $(target).modal();
                });
                // close modal on submit
                $('.modal').on('submit', 'form', function (ev) {
                    var modal = $(this).parentsUntil('body', '.modal');
                    if (modal.hasClass('o_database_backup')) {
                        $(modal).modal('hide');
                        if (!$('.alert-backup-long').length) {
                            $('.list-group').before("<div class='alert alert-info alert-backup-long'>The backup may take some time before being ready</div>");
                        }
                    }
                });
            });




    </script>
    </head>

    {% macro master_input() -%}
    <div class="form-group">
        {% if insecure %}
        <input class="form-control" name="master_pwd" type="hidden" value="admin"/>
        {% else %}
        <label class="col-form-label" for="master_pwd">Master Password</label>
        <input autofocus="autofocus" class="form-control" id="master_pwd"
               name="master_pwd"
               required="required"
               type="password"/>
        {% endif %}
    </div>
    {%- endmacro %}

    {% macro create_form() -%}
    {{ master_input() }}
    <div class="form-group row">
        <label class="col-md-4 col-form-label" for="name">Database Name</label>
        <div class="col-md-8">
            <input autocomplete="off" class="form-control" id="name" name="name"
                   pattern="{{ pattern }}" required="required"
                   title="Only alphanumerical characters, underscore, hyphen and dot are allowed"
                   type="text"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-form-label" for="login">Email</label>
        <div class="col-md-8">
            <input autocomplete="off" class="form-control" id="login" name="login"
                   required="required" type="text"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-form-label" for="password">Password</label>
        <div class="col-md-8 input-group">
            <input autocomplete="off" class="form-control" id="password" name="password"
                   required="required"
                   type="password"/>
            <div class="input-group-append">
                <span aria-hidden="true" class="fa fa-eye o_little_eye input-group-text"
                      style="cursor: pointer;"></span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-form-label" for="phone">Phone number</label>
        <div class="col-md-8 input-group">
            <input autocomplete="off" class="form-control" id="phone" name="phone"
                   type="tel"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-form-label" for="lang">Language</label>
        <div class="col-md-8">
            <select autocomplete="off" class="form-control" id="lang" name="lang"
                    required="required">
                {% for lang in langs %}
                <option if lang[0]== {%
                "en_US" %}selected="selected" {% endif %}value="{{ lang[0] }}">{{
                lang[1]
                }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-form-label " for="country">Country</label>
        <div class="col-md-8">
            <select autocomplete="off" class="form-control" id="country"
                    name="country_code">
                <option value=""></option>
                {% for country in countries %}
                <option value="{{ country[0] }}">{{ country[1] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-form-label" for="demo">Demo data</label>
        <div class="col-md-8">
            <input class="form-control-sm" id="load_demo_checkbox" name="demo"
                   type="checkbox" value="1">
        </div>
    </div>
    {%- endmacro %}

    <body>
        <div class="container">
            <!-- Database List -->
            <div class="row">
                <div class="col-lg-6 offset-lg-3 o_database_list">
                    <img class="img-fluid d-block mx-auto"
                         src="{{ company_logo_url }}"/>
                    <!--<img src="/web/static/src/img/logo2.png" class="img-fluid d-block mx-auto"/>-->
                    {% if not list_db %}
                    <div class="alert alert-danger text-center">The database manager has
                        been
                        disabled by the administrator
                    </div>
                    {% elif insecure and databases %}
                    <div class="alert alert-warning ">
                        Warning, {{ company_name }} database manager is not
                        protected.<br/>
                        Please <a data-target=".o_database_master" data-toggle="modal"
                                  href="#">set
                        a master password</a> to
                        secure it.
                    </div>
                    {% endif %}
                    {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endif %}
                    {% if list_db and databases %}
                    <div class="list-group">
                        {% for db in databases %}
                        <div class="list-group-item d-flex align-items-center">
                            <a class="d-block flex-grow-1" href="/web?db={{ db }}">
                                {% if db in incompatible_databases %}
                                <i class="icon fa fa-warning float-right text-warning"
                                   title="This database may not be compatible"></i>
                                {% endif %}
                                {{ db }}
                            </a>
                            {% if manage %}
                            <div class="btn-group btn-group-sm float-right">
                                <button class="o_database_action btn btn-primary"
                                        data-db="{{ db }}"
                                        data-target=".o_database_backup"
                                        type="button">
                                    <i class="fa fa-floppy-o fa-fw"></i> Backup
                                </button>
                                <button class="o_database_action btn btn-secondary"
                                        data-db="{{ db }}"
                                        data-target=".o_database_duplicate"
                                        type="button">
                                    <i class="fa fa-files-o fa-fw"></i> Duplicate
                                </button>
                                <button class="o_database_action btn btn-danger"
                                        data-db="{{ db }}"
                                        data-target=".o_database_delete"
                                        type="button">
                                    <i class="fa fa-trash-o fa-fw"></i> Delete
                                </button>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% if manage %}
                    <div class="d-flex mt-2">
                        <button class="btn btn-primary flex-grow-1"
                                data-target=".o_database_create" data-toggle="modal"
                                type="button">Create Database
                        </button>
                        <button class="btn btn-primary flex-grow-1 ml-2"
                                data-target=".o_database_restore" data-toggle="modal"
                                type="button">Restore Database
                        </button>
                        <button class="btn btn-primary flex-grow-1 ml-2"
                                data-target=".o_database_master" data-toggle="modal"
                                type="button">Set Master Password
                        </button>
                    </div>
                    {% else %}
                    <div class="text-center mt-2">
                        <a href="/web/database/manager">Manage databases</a>
                    </div>
                    {% endif %}
                    {% elif list_db %}
                    <form action="/web/database/create" method="post" role="form">
                        {{ create_form() }}
                        <input class="btn btn-primary float-left" type="submit"
                               value="Create database"/>
                    </form>
                    <a class="btn btn-link" data-target=".o_database_restore"
                       data-toggle="modal" role="button">or restore a
                        database</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Create -->
        <div class="modal fade o_database_create" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="/web/database/create" method="post" role="form">
                        <div class="modal-header">
                            <h4 class="modal-title">Create Database</h4>
                            <button aria-label="Close" class="close"
                                    data-dismiss="modal"
                                    type="button"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            {{ create_form() }}
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary float-right" type="submit"
                                   value="Continue"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Restore -->
        <div class="modal fade o_database_restore" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Restore Database</h4>
                        <button aria-label="Close" class="close" data-dismiss="modal"
                                type="button"><span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/web/database/restore" enctype="multipart/form-data"
                          id="form_restore_db" method="post"
                          role="form">
                        <div class="modal-body">
                            {{ master_input() }}
                            <div class="form-group">
                                <label class="col-form-label" for="backup_file">
                                    File</label>
                                <input class="required" id="backup_file"
                                       name="backup_file"
                                       type="file"/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="name">Database
                                    Name</label>
                                <input class="form-control" id="name" name="name"
                                       pattern="{{ pattern }}" required="required"
                                       title="Only alphanumerical characters, underscore, hyphen and dot are allowed"
                                       type="text"/>
                            </div>
                            <div class="form-group">
                                <label for="copy">This database might have been moved or
                                    copied.</label>
                                <p class="form-text">
                                    In order to avoid conflicts between databases, needs
                                    to know
                                    if this database was moved or
                                    copied.<br/>
                                    If you don't know, answer "This database is a copy".
                                </p>
                                <div class="custom-control custom-radio">
                                    <input checked="1" class="custom-control-input"
                                           id="radio_copy_true" name="copy"
                                           type="radio" value="true">
                                    <label class="custom-control-label"
                                           for="radio_copy_true">This
                                        database is a copy</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input"
                                           id="radio_copy_false"
                                           name="copy" type="radio"
                                           value="false">
                                    <label class="custom-control-label"
                                           for="radio_copy_false">This
                                        database was moved</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary float-right" type="submit"
                                   value="Continue"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Master password -->
        <div class="modal fade o_database_master" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Set Master Password</h4>
                        <button aria-label="Close" class="close" data-dismiss="modal"
                                type="button"><span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/web/database/change_password" id="form_change_pwd"
                          method="post" role="form">
                        <div class="modal-body">
                            <p>The master password is required to create, delete, dump
                                or
                                restore databases.</p>
                            {{ master_input() }}
                            <div class="form-group">
                                <label class="col-form-label" for="master_pwd_new">New
                                    Master
                                    Password</label>
                                <div class="input-group">
                                    <input autocomplete="off" class="form-control"
                                           id="master_pwd_new" name="master_pwd_new"
                                           required="required" type="password"/>
                                    <div class="input-group-append">
                                        <span aria-hidden="true"
                                              class="fa fa-eye o_little_eye input-group-text"
                                              style="cursor: pointer;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary float-right" type="submit"
                                   value="Continue"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Duplicate DB -->
        <div class="modal fade o_database_duplicate" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Duplicate Database</h4>
                        <button aria-label="Close" class="close" data-dismiss="modal"
                                type="button"><span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/web/database/duplicate" id="form-duplicate-db"
                          method="post"
                          role="form">
                        <div class="modal-body">
                            {{ master_input() }}
                            <div class="form-group">
                                <label class="col-form-label" for="name">Database
                                    Name</label>
                                <input class="form-control" id="name" name="name"
                                       readonly="readonly" required="required"
                                       type="text"/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="new_name">New
                                    Name</label>
                                <input class="form-control" id="new_name"
                                       name="new_name"
                                       pattern="{{ pattern }}"
                                       required="required"
                                       title="Only alphanumerical characters, underscore, hyphen and dot are allowed"
                                       type="text"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary float-right" type="submit"
                                   value="Continue"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Drop DB -->
        <div class="modal fade o_database_delete" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Database</h4>
                        <button aria-label="Close" class="close" data-dismiss="modal"
                                type="button"><span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/web/database/drop" id="form_drop_db" method="post"
                          role="form">
                        <div class="modal-body">
                            {{ master_input() }}
                            <div class="form-group">
                                <label class="col-form-label" for="name">
                                    Database</label>
                                <input class="form-control" id="name" name="name"
                                       readonly="readonly" required="required"
                                       type="text"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary float-right" type="submit"
                                   value="Delete"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Backup DB -->
        <div class="modal fade o_database_backup" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Backup Database</h4>
                        <button aria-label="Close" class="close" data-dismiss="modal"
                                type="button"><span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/web/database/backup" id="form_backup_db"
                          method="post"
                          role="form">
                        <div class="modal-body">
                            {{ master_input() }}
                            <div class="form-group">
                                <label class="col-form-label" for="name">Database
                                    Name</label>
                                <input class="form-control" id="name" name="name"
                                       readonly="readonly" required="required"
                                       type="text"/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="backup_format">Backup
                                    Format</label>
                                <select class="form-control" id="backup_format"
                                        name="backup_format" required="required">
                                    <option value="zip">zip (includes
                                        filestore)</option>
                                    <option value="dump">pg_dump custom format (without
                                        filestore)
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary float-right" type="submit"
                                   value="Backup"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
