<?xml version="1.0" encoding="utf-8"?>

<odoo>
    <data>
        <menuitem
                name="Team project evaluation"
                id="menu_team_line_eval"
                action="team_eval_action"
                sequence="8"
                parent="kzm_project_followup.menu_config_eval_project"
        />

    </data>
</odoo>