.o_main_navbar {
    background-color: #71639E;

}

.o_main_navbar {
  --o-navbar-height: 46px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: var(--o-navbar-height);
  min-width: min-content;
  border-bottom: 0;
  background: linear-gradient(45deg, #71639E, #71639E);
    background-color: rgba(0, 0, 0, 0);
}
