<?xml version="1.0" encoding="utf-8"?>

<odoo>
    <data>

        <menuitem
                name="Lots"
                id="menu_lot_eval"
                action="lot_action"
                sequence="3"
                parent="project.menu_project_management"
                groups="project.group_project_manager"
        />

        <menuitem
                name="Phase"
                id="menu_phase_eval"
                action="phase_action"
                sequence="4"
                parent="project.menu_project_management"
                groups="project.group_project_manager"
        />


        <menuitem
                name="Project evaluation composants"
                id="menu_config_eval_project"
                sequence="10"
                parent="project.menu_project_config"
                groups="project.group_project_manager"
        />
        
        <menuitem
                name="Etape"
                id="menu_stage_eval"
                action="stage_action"
                sequence="5"
                parent="project.menu_project_management"
                groups="project.group_project_manager"
        />

        <!--menuitem
                name="Lot template"
                id="menu_lot_template_eval"
                action="template_lot_action"
                sequence="1"
                parent="menu_config_eval_project"
        /-->

        <menuitem
                name="Lot lines"
                id="menu_lot_line_eval"
                action="lot_line_action"
                sequence="3"
                parent="menu_config_eval_project"
        />
         <menuitem
                name="Phase template"
                id="menu_template_phase_eval"
                action="template_phase_action"
                sequence="4"
                parent="menu_config_eval_project"
        />

    </data>
</odoo>